PyYAML>=6.0
Pillow>=10.0
requests>=2.28
# 可选依赖
# psutil>=5.9  # 健康检查内存监控 (ImportError 时降级)
# sendfile     # 文件传输零拷贝优化 (ImportError 时降级)
